doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/battery.css')
  title battery form
.dockille
  nav#nav-head.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      a.navbar-brand(href='landing')
        img(src='/images/dock-logo.png' width='70px' height='70px')
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item.services.dockville
          li.nav-item
            a.nav-link(href='#')
              h3.tyre Battery section
          li.nav-item
            a.nav-link(href='#')
              button.btn.sign(type='submit') back
h4.title Battery purchase form
.box
  .card
    .card-body
      form#formId(name='battery' action='/api/battery/edit?id='+battery._id method='POST')
        .row
          .col
            label(for='firstname') Firstname
            input.form-control(type='text' name='firstname' value=battery.firstname aria-label='First name')
          .col
            label(for='lastname') Last name
            input.form-control(type='text' name="lastname" value=battery.lastname aria-label='Last name')
        .col
          label(for='telephone') Telephone
          input.form-control(type='tel' aria-label='telephone' value=battery.telephone  name='telephone')
        .mb-3
          label.form-label(for='battery-type') Battery type
          select.form-select(aria-label='Default select example' value=battery.battery_type  name="battery_type")
            option(selected='' selected=(battery.battery_type === 'select' ? 'selected' : '')) select
            option(value='lead-acid' selected=(battery.battery_type === 'lead-acid' ? 'selected' : '')) lead-Acid
            option(value='AGM'selected=(battery.battery_type === 'AGM' ? 'selected' : '')) AGM
        .row
          .col
            label(for='size') Battery size
            input.form-control(type='text' name="battery_size" value=battery.battery_size aria-label='battery-size')
          .col
            label(for='material') Battery material
            select.form-select(aria-label='Default select example' value=battery.battery_material name="battery_material")
              option(selected='') select
              option(value='plastic' selected=(battery.battery_material === 'select' ? 'selected' : '')) Plastic
              option(value='synthetic'selected=(battery.battery_material === 'synthetic' ? 'selected' : '')) Synthetic
              option(value='resine' selected=(battery.battery_material === 'resine' ? 'selected' : '')) Renise
              option(value='others' selected=(battery.battery_material === 'others' ? 'selected' : '')) Others
        .row
          .col
            label(for='voltage') Voltage
            input.form-control(type='text' name="voltage" value=battery.voltage aria-label='voltage')
          .col
            label(for='type') Battery Status
            select.form-select(aria-label='Default select example' value=battery.battery_status name="battery_status")
              option(selected='' selected=(battery.battery_status === 'select' ? 'selected' : '')) select
              option(value='new' selected=(battery.battery_status === 'new' ? 'selected' : '')) New
              option(value='used' selected=(battery.battery_status === 'used' ? 'selected' : '')) Used
        .col
          label(for='model')  Car Model
          input.form-control(type='text' name="model" value=battery.model aria-label='model')
        .col
          label(for='date') Date
          input.form-control(type='date' value=battery.date name="date" aria-label='date')
        .mb-3
          label.form-label(for='charge') Charge
          input#charge.form-control(type='charge' name="charge" value=battery.charge aria-label='charge')
        button.btn.signin(type='submit') Submit
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
